<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <!-- <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css"> -->
    </head>

    <body>

        <header>
            <h1>Welcome to the Text NLP Analyze Site!</h1>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="content" type="text" name="input" placeholder="input some texts to identify its sentiment">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong class="result">NLP Analyze Results</strong>
                <p class="sub-title">polarity: (positive or negative)</p>
                <p id="polarity" class="result"></p>
                <p class="sub-title">subjectivity:</p>
                <p id="subjectivity"></p>
                <p class="sub-title">text: a text snippet from the article</p>
                <p id="text"></p>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>